<dl role="presentation" id="{{ data.id }}" class="accordion"{{ (data.allowtoggle)? ' data-allow-toggle="data-allow-toggle"' }}{{ (data.allowmultiple)? ' data-allow-multiple="data-allow-multiple"' }}> 
{% for panel in data.panels %}
    <dt role="heading" class="accordion-heading" aria-level="3">
        <button aria-expanded="{{ (panel.expanded)? 'true' : 'false' }}" class="accordion-trigger" aria-controls="{{ data.id }}__panel{{ loop.index }}" id="{{ data.id }}__trigger{{ loop.index }}">
          {{ panel.title|raw  }}
        </button>
    </dt>
    <dd role="region" id="{{ data.id }}__panel{{ loop.index }}" aria-labelledby="{{ data.id }}__trigger{{ loop.index }}" class="accordion-panel">
        {{ panel.text|raw }} 
    </dd>
{% endfor %}
</dl>  
