<section class="block linklist{{ data.blockClass ? ' ' ~ data.blockClass }}"> 
{% if data.showLinklistImage == "true" or data.imageurl %}
    <figure class="image">
        <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ data.targetPage)|default('#') }}" title="{{ data.title.text }}">
{% if data.imageurl %}
        <img src="{{ data.imageurl }}" alt="Bildbeschreibung" />
{% else -%}
{%- include "atoms-landscape-4x3" -%}
{%- endif %}
        </a>
{% if data.source %}
        <figcaption class="source">© {{ data.source|default('Muster Media') }}</figcaption>
{% endif %}
    </figure>
{% endif %}
    <h3 class="heading">
        {% if data.title.targetPage != false %}
        <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ data.title.targetPage)|default('#') }}" title="">
            {{ data.title.text|default('Linklist') }}
        </a>
        {% else %}
            {{ data.title.text|default('Linklist') }}
        {% endif %}
    </h3>
    
    <ul>
    {% if data.listitems %}
        {% for listitem in data.listitems%}
            <li><a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ listitem.targetpage ) }}">{{ listitem.title }}</a></li>
        {% endfor %}
    {% else %}
        <li>
            <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ 'article') }}">Lorem ipsum dolor sit amet consectetur. </a>
        </li>
        <li>
            <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ 'article') }}">Sit amet consectetur adipisicing elit. Lorem ipsum dolor.</a>
        </li>
        <li>
            <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ 'article') }}">Adipisicing elit. Lorem ipsum dolor.</a>
        </li>
    {% endif %}
    </ul>
    {% if data.readmore %}
        {#% include 'atoms-anker' with { data: data.readmore } %#}
    {% endif %}
    {% if data.readall %}
        <a class="readall" href="#">Alle anzeigen</a>
    {% endif %}
    
</section>
