<article class="block teaser{{ data.class ? ' ' ~ data.class }}">
  <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ data.targetPage) }}">
{% if data.timestamp %}
    <div class="timestamp">{{ data.timestamp }}</div>
{% endif %}
{% if data.hideTeaserImage != 'true' %}
    <figure class="image">
        {#<a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ data.targetPage)|default('#') }}" title="Link zu: {{ data.title }}">#}
            {% include "atoms-teaser-image-16x9" with {data: data} %}
        {#</a>#}
        {% if data.source != 'false' %}
        <figcaption class="source">© {{ data.source|default('unsplash.com') }}</figcaption>
        {% endif %}
    </figure>
{% endif %}
    <div class="inner">
      <h3 class="heading">
        {#<a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ data.targetPage)|default('#') }}">#}
        {{ data.title|default('Title') }}
        {#</a>#}
      </h3>
      {% if data.hideAuthor != 'true' %}
      <p class="author">von <span class="author-name">{{ data.author|default('Author') }}</span></p>
      {% endif %}
      {% if data.text != 'false' %}
      <p class="text">
        {{ data.text|default('Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.') }}
      </p>
      {% endif %}
    </div>
  </a>
</article>
