    {% extends "main.twig" %}

    {% block pagetitle %}{{ data.title }}{% endblock %}

    {#% block breadcrumb %}{% endblock %#}

    {% block content %}

    {% if data.hero %}
        {% for block in data.hero %}
        {% include block.pattername with { "data": block } %}
        {% endfor %}
    {% endif %}

    <div class="content-wrapper-three-columns">

        {% if data.category %}
        <div class="heading--pagecategory">
            {{ data.category|raw }}
        </div>
        {% elseif data.title2category == true %}
        <h1 class="heading--pagecategory">
            {{ data.title|raw }}
        </h1>
        {% endif %}


        {% include 'molecules-breadcrumb' with {"breadcrumb": [
            {"title": "Ebene 2"},
            {"title": "Ebene 3"}
        ]} %}

        <div class="grid">

            <div class="grid__item two-tenths">
            {% for block in data.content_left %}
                {% include block.pattername with { "data": block } %}
            {% endfor %}
            </div><!-- /grid__item -->

            <main class="grid__item six-tenths">
                {% if data.title and data.title2category != true %}
                <h1 class="{{ data.titleclass }}">{{ data.title }}</h1>
                {% endif %}
                {% for block in data.content %}
                    {% include block.pattername with { "data": block } %}
                {% endfor %}
            </main><!-- /grid__item -->

            <div class="grid__item two-tenths">
                {% for block in data.content_right %}
                    {% include block.pattername with { "data": block } %}
                {% endfor %}
            </div><!-- /grid__item -->

        </div>
    </div>




    {% endblock %}

