<nav id="navigation-primary-desk" class="">
  <h6 class="aural">Hauptnavigation</h6>
  <!--  Start: Primary Menu opener-->
  <div class="navigation-primary-desk__top">
    <ul class="nav" role="menubar" aria-label="Hauptmenü">
      {% for channel_item in navigation.primary %}
      <li role="menuitem" class="{{ channel_item.identifier == active_channel ? 'active'}}"><a data-target="channel--{{ channel_item.identifier }}" href="#" class="menu-item">{{ channel_item.title }}</a></li>
      {% endfor %}
      <li>
          <button class="hamburger-desk" aria-label="Navigation aufklappen" data-target="primary-navigation-desk__tree">Menü</button>
      </li>
      <!--
      <li>
          <a href="#" title="Öffnet die Navigation" data-target="primary-navigation-desk__tree" class="hamburger-desk">Menü</a>
      </li>
      -->
    </ul>
  </div>
  <!-- /End: Primary Menu opener -->

  <!-- Primary Navigation Tree Start-->
  <div class="primary-navigation-desk__tree">
    <ul role="tablist" aria-label="Menü der Hauptbereiche" class="nav channel">
      {% for channel_item in navigation.primary %}
      <li role="tab" id="channeltab{{ loop.index }}" aria-controls="channelpanel{{ loop.index }}" class="channel--{{ channel_item.identifier }} {{ channel_item.identifier == active_channel ? 'active' }}">
        <a href="#" class="menu-item">
            <span class="{{ channel_item.iconclass }}" aria-hidden="true"></span>
            {{ channel_item.title }}
        </a>
        <div role="tabpanel" aria-label="Menü des Bereichs {{ channel_item.title }}" aria-labelledby="channeltab{{ loop.index }}" id="channelpanel{{ loop.index }}">
            <ul class="topic">
              <li class="header">
                  <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ channel_item.targetPage)|default(channel_item.url) }}" class="header-item">Zur Startseite {{ channel_item.title }}</a>
              </li>
              {% for topic_item in channel_item.subnavigation %}
              <li>
                <a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ topic_item.targetPage)|default(topic_item.url) }}" class="menu-item">{{ topic_item.title }}</a>
                <ul role="menu" aria-label="Menü des Bereichs {{ topic_item.title }}" class="subtopic">
                  {% for subtopic_item in topic_item.subnavigation %}
                  {% if subtopic_item.title != 'mehr' %}
                  <li role="menuitem"><a href="{{ attribute(link, page_prefix|default('pages') ~ '-' ~ subtopic_item.targetPage)|default(subtopic_item.url) }}" class="menu-item{{subtopic_item.class? ' '~subtopic_item.class}}">{{ subtopic_item.title }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
            <ul class="aside">
              {% for teaser_item in channel_item.navteaser %}
                {% include 'molecules-navigation-teaser' with { "data": teaser_item, tag: "li" } %}
              {% endfor %}
            </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- /Primary Navigation Tree End-->

</nav>
