
   
    <nav class="channel-navigation">
        <ul>
            <!--<li{% if activeIndex == "accordion" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-accordion') }}">Accordion</a></li>-->
            <!--<li{% if activeIndex == "block" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-block') }}">Block</a></li>-->
            <li{% if activeIndex == "buttons" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-buttons') }}">Buttons und Links</a></li>
            <!--<li{% if activeIndex == "images" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-images') }}">Bilder</a></li>-->
            <li{% if activeIndex == "colors" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-colors') }}">Farben und Linien</a></li>
            <!--<li{% if activeIndex == "forms" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-forms') }}">Formulare</a></li>-->
            <li{% if activeIndex == "grids" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-grids') }}">Grids</a></li>
            <!--<li{% if activeIndex == "icons" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-icons') }}">Icons</a></li>-->
            <li{% if activeIndex == "layout" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-layout') }}">Layout</a></li>
            <!--<li{% if activeIndex == "lists" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-lists') }}">Listen</a></li>-->
            <!--<li{% if activeIndex == "linklist" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-linklist') }}">Linklisten</a></li>-->
            <!--<li{% if activeIndex == "lightbox" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-lightbox') }}">Lightbox</a></li>-->
            <!--<li{% if activeIndex == "logos" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-logos') }}">Logos</a></li>-->
            <!--<li{% if activeIndex == "navigation" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-navigation') }}">Navigation</a></li>-->
            <!--<li{% if activeIndex == "pager" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-pager') }}">Pager</a></li>-->
            <li{% if activeIndex == "fonts" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-fonts') }}">Text und Überschriften</a></li>
            <!--<li{% if activeIndex == "swiper" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-swiper') }}">Swiper</a></li>-->
            <!--<li{% if activeIndex == "message" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('message') ~ '-message') }}">Systemmeldungen</a></li>-->
            <!--<li{% if activeIndex == "table" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('table') ~ '-table') }}">Tabellen</a></li>-->
            <li{% if activeIndex == "teaser" %} class="active"{% endif%}><a href="{{ attribute(link, page_prefix|default('styleguide') ~ '-teaser') }}">Teaserformate</a></li>
        </ul>
    </nav>

