{% if not data %}
    {% set data = gallery.content[0] %}
{% endif %}
<div class="{{ data.swiperClass|default('swiper-articleimage') }} {{ data.blockClass }}" >
{% if (data.title) %}
    <h2 class="swiper-headline">{{ data.title }}</h2>
{% endif %}
    <div class="swiper-container swiper">
        <div class="swiper-pagination">Bild 1</div>
        <button class="swiper-button-prev" aria-label="Nach links blättern"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="swiper-button-next" aria-label="Nach rechts blättern"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <ul class="swiper-wrapper">
{% for swiperitem in data.content %}
            <li class="swiper-slide" data-hash="slide{{loop.index}}">
                {% if(loop.index0 != 0) %}
                <div class="swiper-lazy-preloader"></div>
                {% endif %}
                <div class="image">
                    <div class="swiper-zoom-container">
                        {% if(loop.index0 != 0) %}
                        <img class="swiper-lazy js-imageblur" data-src="{{ swiperitem.imageurl }}" alt="" />
                        {% else %}
                        <img class="image-blured" src="{{ swiperitem.imageurl }}" alt="" />
                        <img class="js-imageblur" src="{{ swiperitem.imageurl }}" alt="" />
                        {% endif %}
                    </div>
{% if swiperitem.source %}
                    <span class="source">&copy; {{ swiperitem.source }}</span>
{% endif %}
                </div>
                <div class="text">              
                    <p class="image-caption">{{ swiperitem.text }}</p>                        
                </div>
            
            </li>
{% endfor %}
        </ul>       
    </div>
    
</div>


